<!-- Towers of Hanoi game remade in JavaScript
Copyright (C) 2021 Ruben Uijtdewilligen

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>. -->

<div class='container'>
  <div class='row'>
    <div class='one-third column' id='first-tower-container'>
      <div class='tower' id='first-tower'></div>
    </div>
    <div class='one-third column' id='second-tower-container'>
      <div class='tower' id='second-tower'></div>
    </div>
    <div class='one-third column' id='third-tower-container'>
      <div class='tower' id='third-tower'></div>
    </div>
  </div>
</div>

<!-- JavaScript -->
<script src='/static/js/game.js'></script>