<!-- Towers of Hanoi game remade in JavaScript
Copyright (C) 2021 Ruben Uijtdewilligen

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>. -->

<div style='text-align: center; width: 100vw;'>
  <h3>Towers of Hanoi</h3>
  <div class='row solution-container'>
    <p id='title'>Steps to solve a Towers of Hanoi problem with ... disks:</p>
    <div class='solution'></div>
  </div>
  <p style='margin-bottom: 3px;'><a href='/'>Back to home page</a></p>
  <p>Made by
    <a href='https://rubenuijtdewilligen.com/'>Ruben Uijtdewilligen</a></p>
</div>

<!-- JavaScript -->
<script src='/static/js/solve.js'></script>